In [1]:
1 + 1

2

testing the (i pyhton notebook ) ipynb

In [2]:
2 * 2

4

In [1]:
a =10

In [2]:
a

10

In [3]:
type(a)

int

In [4]:
a = { "name" : "mayur"}

In [5]:
type(a)

dict

In [6]:
a = [ 1 , 10 , "mayur"]

In [7]:
type(a)

list

In [12]:
a = ( 1,1, 2 ,"tuple")

In [13]:
type(a)

tuple

In [15]:
a

(1, 1, 2, 'tuple')

In [16]:
a ={ 1, 2}

In [17]:
type(a)

set

In [18]:
a = {1 ,1,1}

In [20]:
a = (100 , 1, 0 , "mayur")

In [21]:
a

(100, 1, 0, 'mayur')

In [22]:
type(a)

tuple

In [23]:
"hello"

'hello'

In [24]:
print("hello")

hello

In [27]:
print("hello \nWorld") # special character to add the newline or the tab to the print

hello
World

In [28]:
print("hello\tguys")

hello	guys

In [29]:
len("hello")

5

In [30]:
my_string = "hello"

In [31]:
my_string

'hello'

In [32]:
len(my_string) # to get the length of the string

5

In [35]:
my_string[-2] # getting the character from the end

'l'

In [36]:
my_string

'hello'

In [37]:
my_string[1]

'e'

In [42]:
my_string[: :-1]

'olleh'

In [46]:
2 + 3.2

5.2

In [55]:
my_string.split()

['hello']

In [56]:
print([*my_string]) # to divide it in the list(array)

['h', 'e', 'l', 'l', 'o']

 # string formatter 
 str.format() method 
 print('this is {}'.format('inserted '))

In [57]:
print("this is {}".format('inserted'))

this is inserted

In [59]:
print("this is {} {} {}".format('inserted' , 'by' , "index"))

this is inserted by index

we can also do this based on index position 
print("this is {} {} {}".format('inserted' , 'by' , "index")) // this is inserted by index

if we write this on the index then it is will be arraned from the format method zero based index
print("this is {2} {0} {1}".format('inserted' , 'by' , "index")) // this is inserted by index

In [62]:
print("this is {2} {0} {1}".format('inserted' , 'by' , "index"))

this is index inserted by

In [63]:
# we can also play with it passing same index twice here to append the same value
print("this is {0} {2} {2}".format('inserted' , 'by' , "index"))

this is inserted index index

In [64]:
#we can also assign the variable and use them to format which is a preffered way of writiing
print("this is {b} {i} {ind}".format( i = 'inserted' , b = 'by' , ind = "index"))

this is by inserted index

using the float formating to write 
"{value:width.precision f}"
width is how many white spaces to add prior to the point. 
precision is how many digits followed by the point we want to keep.

In [65]:
# formating the floating value
result = 100 / 777

In [66]:
result

0.1287001287001287

In [72]:
print("this is result {r:10.3f}".format(r=result))

this is result      0.129

# using the f string 
that is introduced in 3.6 as a new shorthand sytax over the format method.

we can use the f in front and add then {<variable_name>} 
 -> print(f' {name} is {age} years old')

In [74]:
name = "mayur"
age = 25 

print(f' {name} is {age} years old')

 mayur is 25 years old

# list
this is a ordered collection to store data (same as array)

In [77]:
my_list = ['one' , 2 , 3.0]

In [78]:
my_list

['one', 2, 3.0]

In [81]:
my_list[::-1]

[3.0, 2, 'one']

In [82]:
my_list[0]

'one'

In [84]:
str_list = ['a' , 'v' , "l" , 'c' , 'b']
num_list = [ 1, 3, 4, 2]

In [85]:
str_list.append('A')

In [87]:
str_list

['a', 'v', 'l', 'c', 'b', 'A']

In [90]:
str_list.pop(2)

'l'

In [91]:
str_list

['a', 'v', 'c', 'b']

In [93]:
str_list.insert(0 , "A")

In [94]:
str_list

['A', 'a', 'v', 'c', 'b']

In [95]:
num_list.sort()

In [96]:
num_list

[1, 2, 3, 4]

In [97]:
rem_list = [ 5 ,12, 6 , 10]

new_num_list = num_list + rem_list

In [98]:
new_num_list

[1, 2, 3, 4, 5, 12, 6, 10]

In [99]:
new_num_list.sort()

In [100]:
new_num_list

[1, 2, 3, 4, 5, 6, 10, 12]

# dictionaries 
it is a key order list just like object in js, ,and it is a unordered list
it is used when we need to access the items and get is corresponding value for the key, 
however we can not slice or sort the dict
dict = {'key1' : 'value1' , 'key2': 'value2'}

In [101]:
my_dict = { 'k1' : 'value1' , 'k2' : 'value2' , 'k3' : "value3"}

In [102]:
my_dict

{'k1': 'value1', 'k2': 'value2', 'k3': 'value3'}

In [103]:
my_dict['k1']

'value1'

In [118]:
d = { 'k1' : 1 , "k2" : [1,2,3] , 'k1' : 12}

In [119]:
# d['k2'][1]
d

{'k1': 12, 'k2': [1, 2, 3]}

In [109]:
my_dict['k2'].upper()

'VALUE2'

In [110]:
d.keys()

dict_keys(['k1', 'k2'])

In [111]:
d.values()

dict_values([1, [1, 2, 3]])

In [112]:
d.items()

dict_items([('k1', 1), ('k2', [1, 2, 3])])

In [115]:
d['k2'].reverse()

In [116]:
d

{'k1': 1, 'k2': [3, 2, 1]}

# tuple 
this is used to store the value just as list and we can do indexing and slice, but these are not mutable once we assign the tuple we cannot ressign 
this is usefull for advance python programming where we pass object and do not want to change them on the fly.

In [120]:
my_tuple = ( 'a' , 'a' , 'b')
my_list = [1,2,3]

In [121]:
type(my_tuple)

tuple

In [129]:
my_tuple[:1:-1]

('b',)

In [130]:
my_tuple[1] = "A"

TypeError: 'tuple' object does not support item assignment

In [131]:
my_tuple[0].upper()

'A'

In [132]:
my_tuple.count('a')

2

In [135]:
my_tuple.index('a')

0

# sets 
this is the datatype where we can store only unique values.

In [136]:
my_set = set()

In [137]:

my_set.add(1)

In [138]:
my_set.add(2)

In [139]:
my_set

{1, 2}

In [140]:
my_set.add(2)

In [141]:
my_set

{1, 2}

In [142]:
len(my_set)

2

In [144]:
my_vals = [2,2,2,1,1,2,3,5,3,4,4]
s = set(my_vals)

In [145]:
s

{1, 2, 3, 4, 5}

In [147]:
s.add('')

In [148]:
s

{'', 1, 2, 3, 4, 5}

# file operations
to write the file and read file in python 
to work with the juypter notte book use the following syntax.

In [1]:
%%writefile myfile.txt
this is a text file to check 
this is a second line
this is a thrid line

Writing myfile.txt

In [2]:
my_file = open('myfile.txt')

In [153]:
my_file = open('myfile.txt')

In [154]:
my_file.read()

'this is a text file to check \nthis is a second line\nthis is a thrid line\n'

In [156]:
my_file.read()
# here the cursor is already gone to the end of the file so we need to reset that to the first line using the seek(0) method

''

In [157]:
# 
my_file.seek(0)

0

In [158]:
my_file.read()

'this is a text file to check \nthis is a second line\nthis is a thrid line\n'

In [161]:
my_file.seek(0)

0

In [160]:
my_file.readline()

'this is a text file to check \n'

In [162]:
my_file.readlines()

['this is a text file to check \n',
 'this is a second line\n',
 'this is a thrid line\n']

In [163]:
# make sure to close the file 
my_file.close()

In [164]:
with open('myfile.txt') as file:
    content = file.read()

In [165]:
content

'this is a text file to check \nthis is a second line\nthis is a thrid line\n'

In [166]:
with open('myfile.txt' , mode='r') as f:
    print(f.read())

this is a text file to check
this is a second line
this is a thrid line

In [174]:
with open("my_test.txt", mode = 'w') as f: 
    f.write("I created this file")

In [175]:
with open('my_test.txt' , mode = 'r') as f: 
    print(f.read())

I created this file

In [176]:
with open('my_test.txt' , mode = 'a') as f: 
    f.write("\n i appended the line here")

In [177]:
with open('my_test.txt') as f:
    print(f.read())

I created this file
 i appended the line here